.card.clickable {
  cursor: pointer;
  transition: $animation-fast transform, $animation-fast box-shadow;
}

.card.clickable:hover {
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.15) !important;
  transform: translateY(-2px);
}

.card.primary {
  transition: $animation-fast background-color, $animation-fast color;

  &:hover {
    background-color: $color-primary;
    color: white;
  }
}

.card.blue {
  transition: $animation-fast background-color, $animation-fast color;

  &:hover {
    background-color: $color-blue;
    color: white;
  }
}

.card.green {
  transition: $animation-fast background-color, $animation-fast color;

  &:hover {
    background-color: $color-green;
    color: white;
  }
}

.card.yellow {
  transition: $animation-fast background-color, $animation-fast color;

  &:hover {
    background-color: $color-yellow;
    color: white;
  }
}

.card.red {
  transition: $animation-fast background-color, $animation-fast color;

  &:hover {
    background-color: $color-red;
    color: white;
  }
}

.card.teal {
  transition: $animation-fast background-color, $animation-fast color;

  &:hover {
    background-color: $color-teal;
    color: white;
  }
}
