// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

nav {
    background-color: #fff;
}

.nav-logo {
    font-size: 34px;
    margin-right: 8px!important;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: .5rem;
}

.nav-logo {
  display: flex;
  align-items: center;
  color: $color-primary;
  margin-right: 1em;
}

.nav-link:hover {
  cursor: pointer;
  color: $color-primary;
}

.nav-link.active {
    background-color: $color-primary-subtle;
    color: $color-primary;
    border-bottom: 2px solid $color-primary;
}