.spin {
    animation: spin $animation-slow infinite linear;
}

@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(60deg);
    }

    75% {
        transform: rotateZ(300deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}