.bg-primary {
  background-color: $color-primary !important;
}

.bg-primary-subtle {
  background-color: $color-primary-subtle !important;
}

.bg-red {
  background-color: $color-red !important;
}

.bg-red-subtle {
  background-color: $color-red-subtle !important;
}

.bg-green {
  background-color: $color-green !important;
}

.bg-green-subtle {
  background-color: $color-green-subtle !important;
}

.bg-blue {
  background-color: $color-blue !important;
}

.bg-blue-subtle {
  background-color: $color-blue-subtle !important;
}

.bg-yellow {
  background-color: $color-yellow !important;
}

.bg-yellow-subtle {
  background-color: $color-yellow-subtle !important;
}

.bg-orange {
  background-color: $color-orange !important;
}

.bg-orange-subtle {
  background-color: $color-orange-subtle !important;
}

.bg-white-subtle {
  background-color: $color-white-subtle !important;
}
