.bg-primary {
  background-color: $color-primary;
}

.bg-primary-subtle {
  background-color: $color-primary-subtle;
}

.bg-red {
  background-color: $color-red;
}

.bg-red-subtle {
  background-color: $color-red-subtle;
}

.bg-green {
  background-color: $color-green;
}

.bg-green-subtle {
  background-color: $color-green-subtle;
}

.bg-blue {
  background-color: $color-blue;
}

.bg-blue-subtle {
  background-color: $color-blue-subtle;
}

.bg-yellow {
  background-color: $color-yellow;
}

.bg-yellow-subtle {
  background-color: $color-yellow-subtle;
}

.bg-orange {
  background-color: $color-orange;
}

.bg-orange-subtle {
  background-color: $color-orange-subtle;
}

.bg-white-subtle {
  background-color: $color-white-subtle;
}