// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
}

a {
  color: #252525;
  transition: $animation-fast color;
  text-decoration: none;

  &:hover {
    color: $color-primary;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

nav {
  transition: box-shadow $animation-normal, background-color $animation-normal;

  &.elevated {
    background-color: #fffe;
  }
  @supports (
    (-webkit-backdrop-filter: blur(16px)) or (backdrop-filter: blur(16px))
  ) {
    &.elevated {
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
      background-color: #fffc;
      backdrop-filter: blur(16px);
    }
  }
}
