.border-bold {
  border: 2px solid;
}

.border-blue {
  border-color: $color-blue !important;
}

.border-indigo,
.border-primary {
  border-color: $color-primary !important;
}

.border-blue-subtle {
  border-color: $color-blue-subtle !important;
}
.border-indigo-subtle {
  border-color: $color-indigo-subtle !important;
}
.border-purple {
  border-color: $color-purple !important;
}
.border-purple-subtle {
  border-color: $color-purple-subtle !important;
}
.border-pink {
  border-color: $color-pink !important;
}
.border-pink-subtle {
  border-color: $color-pink-subtle !important;
}
.border-red {
  border-color: $color-red !important;
}
.border-red-subtle {
  border-color: $color-red-subtle !important;
}
.border-orange {
  border-color: $color-orange !important;
}
.border-orange-subtle {
  border-color: $color-orange-subtle !important;
}
.border-yellow {
  border-color: $color-yellow !important;
}
.border-yellow-subtle {
  border-color: $color-yellow-subtle !important;
}
.border-green {
  border-color: $color-green !important;
}
.border-green-subtle {
  border-color: $color-green-subtle !important;
}
.border-teal {
  border-color: $color-teal !important;
}
.border-teal-subtle {
  border-color: $color-teal-subtle !important;
}
.border-cyan {
  border-color: $color-cyan !important;
}
.border-cyan-subtle {
  border-color: $color-cyan-subtle !important;
}
.border-white {
  border-color: $color-white !important;
}
.border-white-subtle {
  border-color: $color-white-subtle !important;
}
.border-gray {
  border-color: $color-gray !important;
}
.border-light {
  border-color: $color-light !important;
}
.border-dark {
  border-color: $color-dark !important;
}
.border-dark-subtle {
  border-color: $color-dark-subtle !important;
}
